.card {
    display: grid;
    position: relative;
    border: 2px solid black;
    padding: 5px;
    gap: 15px;
    grid-template-columns: 20% auto;
    grid-auto-rows: 100%;
    box-shadow: 1px 0px 5px black;
}

.img-card {
    background: orange;
}

.sheet-card {
    height: 300px;
}
.home-card{
    height: 150px;
}
.content-card {
    gap: 25px;
}


p.desc-event {
    margin-bottom: 30px;
}

.profil-info-event {
    justify-content: space-between;
    align-items: center;
}

.profil-event {
    grid-template-columns: 10% auto;
}
/* // */
span.date {
    padding: 0px 10px;
    border: solid 0.1px;
}

/* @media( max-width()) */