.grid-col{
    display: grid;
    grid-auto-flow: column;
}
.grid-row{
    display: grid;
    grid-auto-flow: row;
}
.flex{
    display: flex;
}
.center-with-padding{
    padding: 25px;
    margin: auto;
}
/* .grid-col-auto-size{
    display: grid;
    grid-template-columns: repeat(auto);
} */