header{
    justify-content: space-between;
    align-items: center;
    border-bottom: orange 1px solid;

}
.logo-span{
    color: orange;
}
.logo {
    font-size: 34px;
    cursor: pointer;
}
.profil-icon {
    cursor: pointer;
}