@import url("./assets/styles/_responsive.css");
@import url("./assets/styles/_setting.css");
@import url("./assets/styles/_global.css");
@import url("./assets/styles/_body.css");
@import url("./assets/styles/_card.css");
@import url("./assets/styles/_btn.css");

@import url("./assets/styles/_skeleton.css");
/* @import url("./assets/styles"); */
@import url("./assets/styles/_header.css");
@import url("./assets/styles/_nav.css");
@import url("./assets/styles/_footer.css");

.btn-filter {
    display: flex;
    justify-content: right;
    align-items: center;
}

.btn-filter button {
    display: flex;
    align-items: center;
    gap: 5px;
}
.login {
    text-align: center;
}
.left.grid-row {
    gap: 30px;
}
.loginButton {
    /* text-align: center; */
    cursor: pointer;
    font-size: 30px;
    background: orange;
    padding: 30px;
}
nav.grid-row {
    grid-auto-rows: max-content;
    gap: 10px;
}